table {
    height: 100vh;
    width: 100%;
    background-image: url(FundoImg.PNG);
    background-repeat: no-repeat;
    background-size: 100%;

}

.partedecima {
    height: 100px;
    background-color: #302F2F;
}






#Serpent {
    width: 100px;


}





.partesite {

    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #888585;
    font-size: 500%;
text-align: center;
}

body {
    margin: 0%;
}





.tecladotxt{

        font-family: "Bangers", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 200%;
        text-align: center;
        color:#EDEDED
      
      
}


 
 .modelotxt{
    

    font-family: "Montagu Slab", serif;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style: normal;
    font-size: 150%;
    
   color:#FFFFFF
   
 }
 
   

.lojafisica{ width: 40%;
    height: 90%;
    text-align: center; 
}
